{
  "presets": [["env", {"loose": true, "modules": false}], "react", "stage-0"],
  "plugins": [
    "transform-decorators-legacy",
    "react-hot-loader/babel",
    "emotion"
  ],
  "env": {
    "production": {
      "plugins": ["transform-react-constant-elements"]
    },
    "development": {
      "plugins": [
        ["emotion", {"sourceMap": true}],
        "react-hot-loader/babel",
        "transform-decorators-legacy"
      ]
    },
    "test": {
      "presets": ["env", "react", "stage-0"],
      "plugins": ["emotion"]
    }
  }
}
