<!-- This file is purely for local development and shouldn't be used in production!! -->
<!-- Note: Don't auto-prettify this file.  It messed up old versions of IE -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiq Webchat</title>
    <style>
        button.noAgentsAvailable {
            opacity: .25;
            cursor: not-allowed;
            color: darkgrey;
        }
    </style>

    <!-- Include webchat SDK -->
    <script src="<%= host %>/app/webchat/sdk.js"></script>

    <!-- Function for building custom launch buttons on the fly -->
    <script type="text/javascript">
        window.__buildCustomLaunchButtons = function(quiqOptions) {
          var buttons = quiqOptions.customLaunchButtons;
          var body = document.getElementsByTagName('body')[0];
          if (Array.isArray(buttons)) {
            buttons.forEach(function(selector) {
                var el = document.createElement('button');
                el.innerHTML = "Launch Chat!";
                if (selector.substr(0, 1) === '#') {
                  el.setAttribute('id', selector.substring(1))
                }
                else if (selector.substr(0, 1) === '.') {
                  el.setAttribute('class', selector.substring(1))
                }
                body.appendChild(el);
            });
          }
        };
    </script>
</head>

<!-- Testbed -->
<body>
<h1>Webchat Testbed</h1>
</body>
</html>
