.ChatContainer {
  &.standaloneMode {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: initial;
    right: 0;
    bottom: 0;
    max-width: none;
    max-height: none;
    border: none;
    border-radius: 0;

    .openStandaloneMode {
      display: none;
    }
  }

  .openStandaloneMode {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 1.3em;
    cursor: pointer;

    &:hover {
      color: darken(white, 20%);
    }
  }

  width: 400px;
  height: calc(100vh - 132px);
  max-height: 600px;
  position: fixed;
  right: 24px;
  bottom: 108px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  animation: 0.3s chatDialogOpen 1;
  display: flex;
  flex-direction: column;
  background: #f4f4f8;

  .chatContainerBody {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .banner, .errorBanner {
    flex: 0 0 auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 14px;
    padding: 0 30px;
  }

  .banner {
    background: #59ad5d;
    height: 80px;
  }

  .errorBanner {
    background: #ad2215;
    height: 20px;
  }
}

// Total Width: 400px
// Total Height: 600px
// MessageForm: 90px
// Banner: 40px
// Transcript: 470px
.noFlexbox .ChatContainer {
  width: 400px;
  height: 600px;

  .banner, .errorBanner {
    width: 100%;
    text-align: center;
  }

  .banner, .errorBanner {
    position: absolute;
    top: 0;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    display: table;

    span {
      display: table-cell;
      vertical-align: middle;
    }
  }
}
