$HeaderMenuColor: #fff;

.HeaderMenu {
  display: flex;
  justify-content: flex-end;
  padding: 5px 7px 3px;
  font-weight: 300;
  min-height: 25px;
  flex: 0 0 auto;
  font-size: 14px;
  color: $HeaderMenuColor;
  border-bottom: 1px solid white;

  .icon {
    stroke: white;
    margin-left: 7px;
    cursor: pointer;
    border-bottom: 1px solid transparent;

    /* Account for the different size of fa-times close icon */
    &.fa-times {
      margin-bottom: 2px;
      font-size: 20px;
      line-height: 14px;
    }

    &:hover {
      color: darken($HeaderMenuColor, 10%);
      border-bottom: 1px solid white;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.noFlexbox .HeaderMenu {
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 388px;
  max-width: 388px;
  min-width: 388px;
  min-height: 20px;
  max-height: 20px;

  .buttons {
    float: right;
  }
}
