.MessageForm {
  width: 100%;
  flex: 0 0 auto;
  background: #fff;
  display: flex;
  flex-direction: column;

  .messageArea {
    display: flex;
    flex: 0 0 auto;
    height: 40px;

    .EmojiTextArea {
      padding: 5px 0;
    }

    .messageFormBtn {
      padding: 10px 7px;
      flex: 0 0 auto;
      border: none;
      font-size: 14px;
      background: transparent;
      font-weight: bold;
      transition: 0.15s ease-in-out color;
      cursor: pointer;
      color: #59ad5d;

      &:disabled {
        opacity: 0.5;
        cursor: default;
      }

      &:enabled {
        opacity: 1;
        cursor: pointer;
      }

      &:hover {
        &:enabled {
          /* This is not supported in IE 10/11. Ah well. */
          filter: brightness(85%);
        }
      }

      &.emojiBtn,
      &.attachmentBtn {
        color: #848484;
        font-size: 16px;
      }
    }
  }

  .poke {
    margin-top: auto;
    background: white;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    animation: fadeUp 1s 1;

    .pokeBody {
      padding: 7px 9px;

      .TypingIndicator {
        margin-left: 5px;
        vertical-align: text-bottom;
      }
    }

    .agentEndedConvo {
      display: flex;
      justify-content: space-between;

      button {
        outline: none;
        user-select: none;
        cursor: pointer;
        border: none;
        color: white;
        border-radius: 4px;
      }
    }
  }
}

.noFlexbox .MessageForm {
  height: 90px;
  min-height: 90px;
  max-height: 90px;

  .poke {
    min-height: 30px;
    max-height: 30px;
    height: 30px;
    display: block;
  }

  .messageArea {
    display: table;
    width: 100%;

    .sendBtn {
      padding: 5px 5px 5px;
      display: table-cell;
      vertical-align: middle;
      width: 50px; // 50 + 20padding = 70
    }
  }
}
