.MessageForm {
  width: 100%;
  flex: 0 0 auto;
  background: #fff;
  display: flex;
  flex-direction: column;

  .messageArea {
    display: flex;
    flex: 0 0 auto;
    padding: 5px;

    textarea {
      background: #fff;
      line-height: 1.3em;
      margin: auto 0 auto 10px;
      flex: 1 1 auto;
      width: 100%;
      border: none;
      resize: none;
      font-size: 14px;

      &:focus {
        outline: none;
      }
    }

    .sendBtn {
      padding: 10px;
      flex: 0 0 auto;
      border: none;
      font-size: 14px;
      background: #fff;
      font-weight: bold;
      transition: 0.15s ease-in-out color;

      &:not([disabled]) {
        color: #59ad5d;
      }
    }
  }

  .poke {
    margin-top: auto;
    background: white;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    animation: fadeUp 1s 1;

    .pokeBody {
      padding: 7px 9px;

      .TypingIndicator {
        margin-left: 5px;
        vertical-align: text-bottom;
      }
    }
  }
}

.noFlexbox .MessageForm {
  height: 90px;
  min-height: 90px;
  max-height: 90px;

  .poke {
    min-height: 30px;
    max-height: 30px;
    height: 30px;
    display: block;
  }

  .messageArea {
    display: table;
    width: 100%;

    textarea {
      max-height: 50px;
      min-height: 50px;
      height: 50px;
      overflow: auto;
      width: 320px; // 320 + 10padding = 330
    }

    .sendBtn {
      display: table-cell;
      vertical-align: middle;
      width: 50px; // 50 + 20padding = 70
    }
  }
}
