@import '~styles/animations';

.messageContainer {
  display: flex;
  flex: 0 0 auto;
  align-self: stretch;
  overflow-x: hidden;
}

.fromCustomer {
  align-self: stretch;
}

.Message {
  width: auto;
  word-wrap: break-word;
  display: inline-block;
  background: #fff;
  border: 1px solid #eaeaea;
  padding: 8px;
  margin: 8px 16px;
  border-radius: 5px;
  font-size: 14px;
  text-align: left;
  animation: 0.2s 1 messageEnter;
  position: relative;
  overflow: hidden;
  hyphens: auto;
  box-sizing: border-box;

  margin-right: 50px;

  a {
    color: #2199e8;
    text-decoration: none;
    cursor: pointer;
  }

  a:visited {
    color: #2199e8;
  }

  a:hover {
    outline-width: 0;
    color: #1585cf;
  }

  &.fromCustomer {
    align-self: flex-end;
    margin-right: 16px;
    margin-left: 50px;
    color: #fff;

    a {
      color: #0c70b2;

      &:visited {
        color: #0c70b2;
      }

      &:hover {
        color: #0c4eb2;
      }
    }
  }
}

.noFlexbox .Message {
  display: block;
  width: auto;
  min-width: 20px;
  clear: both;
  float: left;

  &.fromCustomer {
    float: right;
  }
}
