@import '~styles/animations';

.Spinner {
  .loading {
    animation: spin 1250ms infinite linear;
    border: 8px solid #59ad5d;
    border-right-color: transparent !important;
    border-radius: 32px;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 64px;
    height: 64px;
  }
}

.noFlexbox .Spinner {
  display: table;
  height: 520px;
  text-align: center;
  width: 100%;

  .plainText {
    display: table-cell;
    vertical-align: middle;
  }
}
