// When updating styling in this component, ensure it looks good in
// unsupported browsers (like IE9) as well, since this message
// will display in any unsupported browser.
.NonChat {
  .NonChatContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    color: white;
    position: fixed;
    bottom: 90px;
    right: 25px;
    max-width: 300px;
    border-radius: 5px;
  }
}
