.SDKChatContainer {
  z-index: 99999;
  position: fixed;
  border: none;
  bottom: 24px;
  right: 24px;
  top: inherit;
  left: inherit;

  // Leave this in. Some customers have default stylings for iFrames that try to override this
  display: block;

  &.hasCustomLauncher {
    bottom: 90px;
  }
}
