@import '~styles/animations';

.FileMessageContainer {
  a {
    text-decoration: none;
    color: inherit;
  }
}

.FileMessage {
  width: auto;
  word-wrap: break-word;
  background: transparent;
  border: 1px solid #9c9c9f;
  color: #9c9c9f;
  padding: 8px;
  border-radius: 5px;
  font-size: 14px;
  text-align: left;
  animation: 0.2s 1 messageEnter;
  position: relative;
  overflow: hidden;
  hyphens: auto;
  box-sizing: border-box;

  span {
    display: flex;
    align-items: center;

    i {
      margin-right: 10px;
      font-size: 2em;
    }
  }

  .CircularProgressbar {
    width: 20px;
    max-width: 80%;
    padding: 5px;
  }

  .CircularProgressbar .CircularProgressbar-path {
    stroke: #7b7b7d;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease 0s;
  }

  .CircularProgressbar .CircularProgressbar-trail {
    stroke: rgba(242, 242, 242, 0.58);
  }
}
