@import '~styles/animations';

.FileMessageContainer {
  a {
    text-decoration: none;
    color: inherit;
  }
}

.FileMessage {
  width: auto;
  flex: 0 1 auto;
  word-wrap: break-word;
  background: transparent;
  border: 1px solid #9c9c9f;
  color: #9c9c9f;
  padding: 8px;
  border-radius: 5px;
  font-size: 14px;
  text-align: left;
  animation: 0.2s 1 messageEnter;
  position: relative;
  overflow: hidden;
  hyphens: auto;
  box-sizing: border-box;

  span {
    display: flex;
    align-items: center;
  }

  .IconContainer {
    height: 30px;
    margin-right: 10px;
    display: flex;
    align-items: center;

    .CircularProgressbar {
      display: block;
    }
  }
}
