.messageContainer {
  margin: 8px 50px 8px 16px;
  display: inline-block;
  flex: 0 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;

  .MessageContent {
    display: flex;
    justify-content: flex-start;
    align-self: stretch;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
    transition: opacity 0.3s ease-in;

    &.failed {
      opacity: 0.6;
    }
  }

  .MessageFailure {
    margin-top: 5px;
    text-align: left;
  }

  &.fromCustomer {
    margin-right: 16px;
    margin-left: 50px;

    .MessageContent {
      justify-content: flex-end;
    }

    .MessageFailure {
      text-align: right;
    }
  }
}

.fromCustomer {
  align-self: stretch;
}

.noFlexbox .messageContainer {
  display: block;
  width: auto;
  min-width: 20px;
  clear: both;
  float: left;

  &.fromCustomer {
    float: right;
  }
}
