@import '~styles/animations';

.TextMessage {
  width: auto;
  flex: 0 1 auto;
  word-wrap: break-word;
  display: inline-block;
  background: #fff;
  border: 1px solid #eaeaea;
  padding: 8px;
  border-radius: 5px;
  font-size: 14px;
  text-align: left;
  animation: 0.2s 1 messageEnter;
  position: relative;
  overflow: hidden;
  hyphens: auto;
  box-sizing: border-box;

  a {
    color: #2199e8;
    text-decoration: none;
    cursor: pointer;
  }

  a:visited {
    color: #2199e8;
  }

  a:hover {
    outline-width: 0;
    color: #1585cf;
  }

  &.fromCustomer {
    align-self: flex-end;
    color: #fff;

    a {
      color: #0c70b2;

      &:visited {
        color: #0c70b2;
      }

      &:hover {
        color: #0c4eb2;
      }
    }
  }
}
